
.mofiz-top-bg {
    background: #FFF9F4;
}
.mofiz-text-color-1 {
    color: #FA804C;
}
.mofiz-text-color-2 {
    color: #363958;
}
.mofiz-btn {
    background: rgba(61, 79, 243, 1);
    text-decoration: none;
}
.mofiz-price-color {
    color: #FA804C;
}
.mofiz-shoes-title-text{
    color: rgba(54, 57, 88, 1);
}

.mofiz-footer-bg {
    background: #090c2b;
}
.left-icon {
    font-size: 30px;
    color: #FA804C;
}
.subsribe-button {
    background: #FA804C;
}
.fa {
    
    color: #FA804C;
}